# Java class files
*.class

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Android Studio
..idea/libraries/
.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
*.iml
build/